{% extends 'content/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div class="card border-success mb-3">
                <div class="card-header bg-success text-white">
                    <h3 class="mb-0">Вход</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">
                        Войти
                    </button>
                    <a class="btn btn-primary" href="{% url 'content:content_list' %}" role="button">
                        Назад
                    </a>
                </div>
                <div class="card-footer">
                    <a class="btn btn-warning" href="{% url 'users:new_password' %}" role="button">
                        Забыли пароль?
                    </a>
                    <a class="btn btn-warning" href="{% url 'users:register' %}" role="button">
                        Создать аккаунт?
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}