{% extends 'content/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div class="card border-success mb-3">
                <div class="card-header bg-success text-white">
                    {% if object %}
                    <h3 class="mb-0">Редактирование записи</h3>
                    {% else %}
                    <h3 class="mb-0">Создание записи</h3>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    <a class="btn btn-primary" href="{% url 'content:content_list' %}" role="button">
                        Назад
                    </a>
                </div>
            </div>
    </div>
</div>
</div>
{% endblock %}